.content-area {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-width: 320px;
  max-width: 1540px;
  box-sizing: border-box;
}

.content {
  grid-column-start: 3;
  grid-column-end: span 6;
}

.comment-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.comments-header {
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.comments-header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.comment-icon {
  width: 24px;
}

.comment-label {
  font-weight: bold;
  font-size: 1rem;
}

.sort-by-likes-btn {
  border: 1px solid var(--dark);
  padding: 5px 20px;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}

.sort-by-likes-btn:active {
  background-color: var(--dark);
  color: var(--white);
}

.comment {
  position: relative;
  display: block;
  padding: 16px 0;
  border-top: 1px solid var(--border-color);
}

.comment:last-child {
  border-bottom: 1px solid var(--border-color);
}

.username {
  font-weight: bold;
}

.likes {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7em;
  font-weight: bold;
  margin-top: 16px;
}

.comment-text {
  margin-top: 12px;
  line-height: 1.5;
  grid-column-start: 1;
  grid-column-end: span 5;
}

@media only screen and (max-width: 642px) {
  .content {
    grid-column-start: 1;
    grid-column-end: span 12;
  }

  .likes {
    position: relative;
  }

  .comment-text {
    grid-column-end: span 6;
  }
}
