<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="An application that loads comments from an API"  />
		<link rel="stylesheet" type="text/css" href="static/app.css" />
		<script src="static/app.bundle.js" defer></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://my-json-server.typicode.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
		<title>Fetch Telegraph Comment</title>
	</head>
	<body>
		<div class="wrapper">
		{{> header }}
		{{{ body }}}
		</div>
	</body>
</html>
