<div class="content-area">
  <div class="content">
    <section class="comments-header">
      <div class="comments-header-item">
        <svg
          class="comment-icon"
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 64.000000 64.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <g
            transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
            fill="#000000"
            stroke="none"
          >
            <path
              d="M40 400 l0 -149 63 -3 62 -3 5 -73 5 -73 75 76 74 75 138 0 138 0 0
150 0 150 -280 0 -280 0 0 -150z"
            ></path>
          </g>
        </svg>
        <span class="comment-label">5 Comments</span>
      </div>
      <div class="comments-header-item">
        <span class="sort-text">Sort</span>
        <button class="sort-by-likes-btn" id="sort-by-likes-btn">Likes</button>
      </div>
    </section>
    <section id="comment-list">
      {{! <div class="comment">
        <div class="username">User Name</div>
        <div class="comment-grid">
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex
          </div>
        </div>
        <div class="likes">12 Likes</div>
      </div> }}
    </section>
  </div>
</div>