<main class="container flex justify-center">
  <div class="content-area flex">
    <div class="content">
      <section class="comments-header flex align-center">
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="20px"
          height="20px"
          viewBox="0 0 64.000000 64.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <g
            transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
            fill="#000000"
            stroke="none"
          >
            <path
              d="M40 400 l0 -149 63 -3 62 -3 5 -73 5 -73 75 76 74 75 138 0 138 0 0
150 0 150 -280 0 -280 0 0 -150z"
            ></path>
          </g>
        </svg>
        <span class="comment-counter">5 Comments</span>
        <span class="sort-text">Sort</span>
        <button class="button-likes" id="button-likes">Likes</button>
      </section>
      <section class="comments-body" id="comment-body">
        {{!-- <div class="row">
          <div class="row-header flex justify-between">
            <span class="username">User Name</span>
            <span class="likes">12 Likes</span>
          </div>
          <div class="comment-holder flex">
            <span class="comment">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex</span>
          </div>
        </div> --}}
      </section>
    </div>
  </div>
</main>